/**
 * Description: Place all style modifications in this file.
 * Version: <x.x.x>
 * Last update: <date>
 * Author: <fullname>
 *
 * Summary:
 *
 *    1. Global
 *        - 1.1. Font
 *        - 1.2. Hyperlink color
 *    2. Navigation
 *    3. Menu
 *    4. Content
 *    5. Footer
 */

/* ==========================================================================
   1. Global
   ========================================================================== */

/* 1.1. Font
   ========================================================================== */

body {
   font-family: "Segoe UI", "Open Sans", Arial;
   font-size: 13px;
   line-height: 150%;
}

h1, h2, h3,
h4, h5, h6 {
   font-weight: normal;
   font-family: "Open Sans", Arial;
}

/* 1.2. Hyperlink color
   ========================================================================== */

a { color: #4679C6; }
a:hover { color: #04589f; }

/* ==========================================================================
   2. Navigation
   ========================================================================== */

#nav {
	background-color: white; /* Background */
	border-color: #cccccc; /* Border */
}

/* ==========================================================================
   3. Menu
   ========================================================================== */

#aside,
#aside .tree,
#aside .tree ul li:last-child ,
#aside .tree ul li.expand:last-child,
#aside .tree ul li.narrow:last-child {
	background-color: white; /* Background */
}

/* ==========================================================================
   4. Content
   ========================================================================== */

#content {
	background-color: white; /* Background */
}

/* ==========================================================================
   5. Footer
   ========================================================================== */

#footer {
	background-color: white; /* Background */
	border-color: #cccccc; /* Border */
	color: #999999; /* Font color */
}